:root {
  --dark-violet: #7a207d;
  --light-violet: #cf5fd3;
  --white: rgb(255, 255, 255);
  --light-white: rgb(220, 220, 220);
  --light-black: rgba(0, 0, 0, 0.2);
  --medium-black: rgba(0, 0, 0, 0.3);
  --dark-black: rgba(0, 0, 0, 0.4);
  --black-black: rgba(0, 0, 0, 0.5);
}

:root {
  --color-bg-app: var(--black-black);
  --color-main: var(--dark-violet);
  --color-submain: var(--light-violet);
  --color-important-1: var(--white);
  --color-important-2: var(--light-white);
  --color-text-hover: var(--light-white);
  --color-bg: var(--light-black);
  --color-bg-hover: var(--medium-black);
  --color-panel: var(--dark-black);
  --color-top-stripe: var(--medium-black);
  --color-scrollbar-thumb: var(--black-black);
}

:root {
  --border-radius: 0.35em;
  --blur: 10px;
  --box-shadow-header: 0 1px var(--color-main);
}

/**** Приложение ****/

/* Фоновое изображение */
#app-mount {
  background: url("https://i.ibb.co/MBW8wg2/J9i269xv18c.jpg") center/cover
    no-repeat;
}

/* Изменение прозрачности фонового изображения */
#app-mount:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg-app);
}

/******** Чистка background ********/

/* Приложение, список серверов, задний фон (а-ля край верхней полоски) */
div[class^="app_"],
nav[class*="guilds_"],
div[class^="bg_"] {
  background: transparent;
}

/* Голосовые и текстовые каналы, sidebar личных сообщений */
div[class^="sidebar_"],
div[class^="sidebar_"] > nav,
div[class^="sidebar_"] > nav > div[class^="scroller_"],
section[class^="panels_"] :is(div[class^="panel_"], div[class^="container_"]) {
  background: transparent !important;
}

/* Личные сообщения */
div[class^="sidebar_"] + main,
div[class^="sidebar_"] + main > section {
  background: transparent !important;
}

/* Чат */
div[class^="chat_"],
div[class^="chat_"] > section[class^="title_"],
div[class^="chat_"] div[class^="container_"],
main[class^="chatContent_"],
div[class^="members_"],
div[class^="member_"] {
  background: transparent;
}

/******** Красота ********/

/**** Список серверов ****/

div[class^="guildSeparator_"],
nav[class*="guilds_"] div[data-list-item-id="guildsnav___home"] > div {
  background-color: var(--color-main);
}

nav[class*="guilds_"] div[data-list-item-id][class*="selected_"] > div {
  background-color: var(--color-submain);
}

/**** Сервер ****/

/* Верхняя полоса приложения */
#app-mount > div[class*="titleBar_"] {
  margin-top: 0;
  padding-top: 4px;
  background-color: var(--color-top-stripe);
  border-bottom: solid 2px var(--color-main);
}

div[class^="sidebar_"] {
  border-radius: 0 !important;
}

/*** 1. Sidebar ***/

/** 1.1 Header **/

/* 1.1.1 Style */

div[class^="sidebar_"]
  > nav
  :is(div[class^="headerContent_"], div[class^="headerChildren_"]) {
  color: var(--color-important-1);
}

div[class^="sidebar_"] > nav header {
  box-shadow: var(--box-shadow-header);
}

/* 1.1.2 Hover & Select */

div[class^="sidebar_"] > nav header:hover,
div[class^="sidebar_"] > nav > div[class*="selected_"] > header {
  background-color: var(--color-bg-hover) !important;
}

/** 1.2 Channels, Events **/

/* 1.2.1 Style */

/* Scrollbar */
#channels::-webkit-scrollbar-thumb {
  background-color: var(--black-black);
}

/* Общий дефолтный цвет */
li[class^="containerDefault_"]
  :is(h3, svg, div[class^="name_"], div[class*="statusText_"]),
li[class^="containerDefault_"]
  div[class*="modeSelected_"]:hover
  svg[class^="icon_"] {
  color: var(--color-submain);
}

/* Группа каналов */
li[class^="containerDefault_"] > div[class*="wrapperCommon_"] {
  border-radius: var(--border-radius);
  background-color: var(--color-main);
}

li[class^="containerDefault_"]:has(> div[class*="wrapperCommon_"]) {
  margin-bottom: 5px;
}

/* Общее */
li[class^="containerDefault_"][data-list-item-id],
li[class^="containerDefault_"] div[class*="type"] > div {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  backdrop-filter: blur(var(--blur));
}

/* Горизонтальная полоса после Мероприятия */
div[class^="sectionDivider_"] {
  background-color: var(--color-main);
}

/* Голосовые каналы */
li[class^="containerDefault_"]:has(> div[class*="listDefault_"])
  div[class*="typeVoice_"] {
  padding-bottom: 0;
}

li[class^="containerDefault_"]:has(> div[class*="listDefault_"])
  div[class*="typeVoice_"]
  > div {
  border-radius: var(--border-radius) var(--border-radius) 0
    var(--border-radius);
}

/* Участники голосового канала */
li[class^="containerDefault_"] > div[class*="listDefault_"] > div {
  background-color: var(--color-bg);
  backdrop-filter: blur(var(--blur));
}

/* TODO: Подумать над цветом */
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div
  div[class^="usernameFont_"] {
  color: var(--color-submain);
}

/* Фикс высоты блока участника голосового канала */
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  div[class^="content_"] {
  height: 100%;
}

/* Убирание отступа между участниками голосового канала */
div[class^="voiceUser_"] > div {
  margin: 0;
}

/* Последний участник голосового канала */
li[class^="containerDefault_"] > div[class*="listDefault_"] > div:last-child,
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div:last-child
  div[class^="content_"] {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* 1.2.2 Hover & Select */

/* Общее */
li[class^="containerDefault_"][data-list-item-id]:hover > div,
li[class^="containerDefault_"] div[class*="modeSelected_"] a,
li[class^="containerDefault_"] div[class*="wrapper_"]:hover a,
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div:hover
  [class^="content_"] {
  background-color: var(--color-bg-hover) !important;
}

/* Голосовой канал при наличии участников в нём */
li[class^="containerDefault_"] div[class*="modeSelected_"] a,
li[class^="containerDefault_"]:has(> div[class*="listDefault_"])
  div[class*="wrapper_"]:hover
  a {
  border-radius: var(--border-radius) var(--border-radius) 0
    var(--border-radius);
}

/* Участник голосового канала */
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div:hover
  div[class^="content_"] {
  border-radius: 0;
}

li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div:last-child:hover
  div[class^="content_"] {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  > div:hover
  > div:not([class*="selected"]):hover
  div[class^="usernameFont_"] {
  color: var(--color-text-hover);
}

/* Selected участника голосового канала */
li[class^="containerDefault_"]
  > div[class*="listDefault_"]
  div[class*="selected_"]
  > div {
  background-color: var(--color-bg-hover) !important;
  border-radius: 0;
}

/* Цвет названия канала, мероприятия и иконок */
li[class^="containerDefault_"][data-list-item-id]
  > div:hover
  div[class^="name_"],
li[class^="containerDefault_"]
  > div[class*="wrapper_"]:hover
  :is(h3, div[class^="mainContent_"] > svg),
li[class^="containerDefault_"]
  div[class*="wrapper_"]:not(
    [class*="modeSelected_"],
    [class*="modeConnected_"]
  ):hover
  div[class^="name_"],
li[class^="containerDefault_"]
  div[class^="statusDiv_"]:hover
  > :is(div[class*="statusText_"], svg),
li[class*="containerDefault_"] svg:not([class^="icon_"]):hover {
  color: var(--color-text-hover);
}

/* Selected канала и голосового, в котором сидит пользователь */
li[class^="containerDefault_"]
  :is(div[class*="modeConnected_"], div[class*="modeSelected_"])
  div[class^="name_"] {
  color: var(--color-important-1);
}

/** 1.3 Panels **/

/* 1.3.1 Style */

/* TODO: Подумать над цветом фона */
section[class^="panels_"] {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--dark-black);
  backdrop-filter: blur(var(--blur));
}

/*TODO: Подумать над цветом кнопок */
section[class^="panels_"]
  > :is(div[class^="wrapper_"])
  :is(a > div, button:not([class*="rtcConnectionStatusConnected_"])),
section[class^="panels_"]
  > :is(div[class^="panel_"], div[class^="container_"])
  button {
  color: var(--color-submain);
}

/* Game Panel */
section[class^="panels_"] > div[class^="panel_"] div[class^="info_"] > div {
  color: var(--white);
  font-weight: 500;
}

section[class^="panels_"] div[class^="actionButtons_"] button {
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

/* Точка над активностями */
section[class^="panels_"] > div[class^="wrapper_"] button > div > span {
  background-color: var(--color-submain);
  transition: background-color 0.2s ease;
}

section[class^="panels_"]
  div[class^="actionButtons_"]
  button[class*="buttonActive_"] {
  background-color: var(--color-main);
}

/* Кнопка настроек */
section[class^="panels_"] > div[class^="container_"] button:last-child path {
  fill: var(--color-submain);
}

/* Горизонтальные полоски */
section[class^="panels_"] > div[class^="panel_"],
section[class^="panels_"] > div[class^="wrapper_"] > div {
  border-color: var(--color-main);
}

/* Имя */
section[class^="panels_"] div[class^="panelTitleContainer_"] > div {
  color: var(--color-important-1);
  font-weight: 500;
}

/* Текст под именем */
section[class^="panels_"] div[class^="panelSubtextContainer_"] > div {
  color: var(--color-important-2);
}

/* 1.3.2 Hover & Select */

/* Общее */
section[class^="panels_"]
  > :is(div[class^="panel_"], div[class^="wrapper_"], div[class^="container_"])
  button:not([class*="rtcConnectionStatusConnected_"]):hover {
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
}

/* Точка над активностями */
section[class^="panels_"] > div[class^="wrapper_"] button:hover > div > span {
  background-color: var(--color-text-hover);
}

/* Аватар */
section[class^="panels_"] div[class^="avatarWrapper_"]:hover {
  background-color: var(--color-bg-hover);
}

/* Кнопка настроек */
section[class^="panels_"]
  > div[class^="container_"]
  button:last-child:hover
  path {
  fill: var(--color-text-hover);
}

/*** 2. Chat ***/

/* Все иконки */
div[class^="chat_"] svg[class^="icon_"] {
  color: var(--color-submain);
}

/** 2.1 Header **/

/* 2.1.1 Style */

div[class^="chat_"] > div[class^="content_"]:before {
  display: none;
}

/* Название канала */
div[class^="chat_"] > section h1 {
  color: var(--color-important-1);
}

/* Вертикальная полоса в титуле */
div[class^="chat_"] > section div[class^="children_"]::after {
  background: none;
}

/* Search */
div[class^="chat_"] div[class^="toolbar_"] div[class^="searchBar_"] {
  background-color: var(--color-main);
}

div[class^="public-DraftEditorPlaceholder-root"] {
  color: var(--color-submain) !important;
}

/* Нижняя граница */
div[class^="chat_"] > section {
  box-shadow: var(--box-shadow-header);
}

/* 2.1.2 Hover & Select */

/* Кнопки */
div[class^="chat_"]
  div[class^="toolbar_"]
  > :not([class^="search_"])
  svg:hover {
  color: var(--color-text-hover) !important;
}

div[class^="chat_"] div[class^="toolbar_"] div[class*="selected_"] > svg {
  color: var(--color-important-1);
}

/** 2.2 Content **/

/* 2.2.1 Style */

/* Scroll */
div[class^="chat_"] div[class^="scroller_"]::-webkit-scrollbar-track {
  background-color: var(--color-main);
}

div[class^="chat_"] div[class^="scroller_"]::-webkit-scrollbar-thumb {
  background-color: var(--color-submain);
}

/* Картинка пустого чата */
div[class^="chat_"] ol div[class^="emptyChannelIcon_"] {
  background-color: var(--color-bg);
}

div[class^="chat_"] ol div[class^="emptyChannelIcon_"] path {
  fill: var(--color-submain);
}

/* Заголовок чата */
div[class^="chat_"] ol > div[class^="container_"] > h3 {
  color: var(--color-important-1);
}

/* Описание чата */
div[class^="chat_"] ol > div[class^="container_"] > div[class*="description_"] {
  color: var(--color-important-2);
}

/* Кнопки */
div[class^="chat_"] ol div[class^="buttonContainer_"] > button {
  padding: 6px 10px;
  color: var(--color-submain);
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

/* Дата посреди ленты */
div[class^="chat_"] ol div[class^="divider_"] {
  border-color: var(--color-main);
}

div[class^="chat_"] ol div[class^="divider_"] > span {
  padding: 2px 6px;
  color: var(--color-submain);
  background-color: var(--color-main);
}

/* Настройки ленты чата */
div[class^="chat_"] ol {
  padding-left: 16px;
}

div[class^="chat_"] ol > li {
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

div[class^="chat_"] ol > li > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

div[class^="chat_"] ol > li:has(> :not(div[class*="groupStart_"])) {
  margin-top: 2px;
}

/* Дата внутри сообщения */
div[class^="chat_"] ol > li span[class*="timestamp_"] > time {
  color: var(--color-important-2);
}

/* Реакции внутри сообщения */
div[class^="chat_"] ol > li div[class^="reaction_"] {
  background-color: var(--color-main);
}

div[class^="chat_"] ol > li div[class*="reactionCount_"] {
  color: var(--color-submain);
}

/* Article */
div[class^="chat_"] ol > li article {
  background-color: var(--color-bg);
  border-color: var(--color-main) !important;
}

/* 2.2.2 Hover & Select */

/* Настройки ленты чата */
div[class^="chat_"] > div[class^="content_"] li:hover {
  background-color: var(--color-bg-hover);
}

/* Реакции внутри сообщения */
div[class^="chat_"] ol > li div[class^="reactionBtn_"]:hover > svg {
  color: var(--color-text-hover);
}

div[class^="chat_"] ol > li div[class*="reactionMe_"] {
  border-color: var(--color-main);
  background-color: var(--color-submain);
}

div[class^="chat_"]
  ol
  > li
  div[class*="reaction_"]:hover
  div[class^="reactionCount_"] {
  color: var(--color-text-hover);
}

/** 2.3 TextArea **/

/* 2.3.1 Style */

/* Полоса перед полем ввода */
div[class^="chat_"] form {
  margin-top: 0;
}

div[class^="chat_"] form > div[class^="channelTextArea_"] {
  padding-top: 10px;
  border-radius: 0;
  border-top: solid 1px var(--color-main);
}

/* Поле ввода */
div[class^="chat_"] form:before {
  display: none;
}

div[class^="chat_"] form > div {
  background-color: transparent;
}

div[class^="chat_"] form > div > div {
  background-color: var(--color-bg);
}

div[class^="chat_"] form div[class^="placeholder_"] {
  color: var(--color-important-2);
}

div[class^="chat_"] form span[data-slate-string="true"] {
  color: var(--color-important-1);
}

/* Кнопка добавления файлов*/
div[class^="chat_"] form div[class^="attachWrapper_"] path {
  fill: var(--color-submain);
}

/* Кнопки справа от поля ввода */
div[class^="chat_"] form div[class^="buttons_"] button svg {
  color: var(--color-submain);
}

/* Кнопка эмодзи */
div[class^="chat_"] form div[class^="sprite_"]:last-child {
  background-color: var(--color-submain);
}

/* 2.3.2 Hover & Select */

/* Кнопки */
div[class^="chat_"] ol div[class^="buttonContainer_"] > button:hover {
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
}

/* Поле ввода */
div[class^="chat_"] form div[class^="attachWrapper_"] button:hover path {
  fill: var(--color-text-hover);
}

/* Кнопки справа от поля ввода */
div[class^="chat_"] form div[class^="buttons_"] button:hover svg {
  color: var(--color-text-hover);
}

/** 2.4 Loader content **/

/* 2.4.1 Style */

/* Лоудер для чата */
ol[class^="scrollerInner_"] > div[class^="wrapper_"],
ol[class^="scrollerInner_"] > div[class^="wrapper_"] > div {
  background-color: transparent;
}

ol[class^="scrollerInner_"]
  > div[class^="wrapper_"]
  :is([class^="blob_"], [class^="avatar_"], [class^="attachment_"]) {
  background-color: var(--color-submain);
}

/** 2.5 Members **/

/* 2.5.1 Style */

aside[class^="membersWrap_"] h3 {
  height: 42px;
}

aside[class^="membersWrap_"] h3 span:last-child {
  display: block;
  min-width: 90%;
  padding: 1px 5px;
  color: var(--color-submain);
  border-radius: var(--border-radius);
  background-color: var(--color-main);
}

aside[class^="membersWrap_"] div[class^="member_"] {
  border-radius: var(--border-radius);
}

aside[class^="membersWrap_"] div[class^="members_"]::-webkit-scrollbar-thumb {
  background-color: var(--color-submain);
}

/* 2.5.2 Hover & Select */

aside[class^="membersWrap_"] div[class^="member_"]:hover > div {
  border-radius: var(--border-radius);
  background-color: var(--color-bg-hover);
}

/** 2.6 Popups **/

/* Общее */

#guild-header-popout,
div[class^="layerContainer_"] div[class^="browser_"] {
  border-radius: var(--border-radius);
  background: rgb(5, 5, 5);
  box-shadow: 0 0 15px 1px var(--color-main);
}

/* I. Модалка при клике на header над каналами */

/* 2.6.1 Style */

/* TODO: Подумать над цветом текста и svg */
#guild-header-popout div[role="separator"] {
  border-color: var(--color-main);
}

#guild-header-popout
  div[class^="item_"]:not([id*="leave"], [id*="invite-people"]) {
  color: var(--color-important-2);
}

#guild-header-popout
  div[class^="item_"]:not([id*="leave"], [id*="invite-people"])
  svg {
  color: var(--color-submain);
}

/* 2.6.2 Hover & Select */

#guild-header-popout div[class*="focused_"] {
  color: var(--color-important-1) !important;
  background-color: var(--color-main);
}

#guild-header-popout div[class*="focused_"][id*="leave"] {
  background-color: rgb(182, 11, 51);
}

#guild-header-popout div[class*="focused_"] svg {
  color: var(--color-important-1) !important;
}

/* Скрывание заглушенных каналов */
#guild-header-popout div[class*="item_"][aria-checked="true"] path:first-child,
#guild-header-popout
  div[class*="focused_"][aria-checked="true"]
  path:last-of-type {
  color: var(--color-submain);
}

#guild-header-popout
  div[class*="focused_"][aria-checked="true"]
  path:first-child {
  color: var(--color-important-1);
}

/* I. Модалка при клике на header над каналами */

/* 2.6.1 Style */

/* Header */
div[class^="layerContainer_"] div[class^="browser_"] svg {
  color: var(--color-submain);
}

div[class^="layerContainer_"] div[class^="browser_"] h1 {
  color: var(--color-important-1);
}

div[class^="layerContainer_"]
  div[class^="browser_"]
  :is([class^="divider_"], [class^="searchBox_"]) {
  background-color: var(--color-main);
}

div[class^="layerContainer_"] div[class^="browser_"] input::placeholder {
  color: var(--color-submain);
}

div[class^="layerContainer_"] div[class^="browser_"] button {
  color: var(--color-important-1);
  background-color: var(--color-submain);
}

div[class^="layerContainer_"] div[class^="browser_"] button {
  color: var(--color-important-1);
  background-color: var(--color-submain);
}

/* Body */
div[class^="layerContainer_"]
  div[class^="browser_"]
  div[class^="list_"]
  div[class^="icon_"] {
  background-color: var(--color-main);
}

div[class^="layerContainer_"] div[class^="browser_"] div[class^="list_"] h2 {
  color: var(--color-important-1);
}

div[class^="layerContainer_"]
  div[class^="browser_"]
  div[class^="list_"]
  div[class^="text-md-normal_"] {
  color: var(--color-important-2) !important;
}

/* 2.6.2 Hover & Select */

/* Header */
div[class^="layerContainer_"] div[class^="browser_"] button:hover {
  background-color: var(--color-main);
}

div[class^="layerContainer_"]
  div[class^="browser_"]
  div[class^="closeIcon_"]:hover
  svg {
  color: var(--color-text-hover);
}

/**** Личные сообщения ****/

/*** 1. Sidebar ***/

/** 1.1 Header **/

/* 1.1.1 Style */

nav[class^="privateChannels_"] div[class^="searchBar_"] {
  box-shadow: var(--box-shadow-header);
}

nav[class^="privateChannels_"] button[class^="searchBarComponent_"] {
  color: var(--color-submain);
  background-color: var(--color-main);
  transition: background-color 0.1s ease, color 0.1s ease;
}

/* 1.1.2 Hover & Select */

nav[class^="privateChannels_"] button[class^="searchBarComponent_"]:hover {
  color: var(--color-main);
  background-color: var(--color-submain);
}

/** 1.2 Friends, Nitro, Shop **/

/* 1.2.1 Style */

nav[class^="privateChannels_"] ul > li > div[class*="linkButton_"] svg {
  color: var(--color-submain);
}

nav[class^="privateChannels_"] ul > li > div {
  color: var(--color-important-2);
}

nav[class^="privateChannels_"] ul div[class*="selected_"] {
  color: var(--color-important-1);
  background-color: var(--color-bg-hover);
}

nav[class^="privateChannels_"] ul > h2 {
  height: auto;
  padding: 4px 6px 4px 14px;
  margin: 18px 8px 10px 0;
  color: var(--color-submain);
  border-radius: var(--border-radius);
  background-color: var(--color-main);
}

nav[class^="privateChannels_"] ul > h2 svg {
  color: var(--color-submain) !important;
}

nav[class^="privateChannels_"]
  > div[class*="scroller_"]::-webkit-scrollbar-thumb {
  background-color: var(--color-submain);
}

/* 1.2.2 Hover & Select */

nav[class^="privateChannels_"] ul > li > div[class*="linkButton_"]:hover svg {
  color: var(--color-main);
}

nav[class^="privateChannels_"] ul > li:hover div[class^="closeButton_"] {
  color: var(--color-important-2);
}

nav[class^="privateChannels_"] ul div[class*="interactive_"]:hover {
  color: var(--color-important-2);
  background-color: var(--color-bg-hover);
}

nav[class^="privateChannels_"] ul > h2 > div:hover > svg,
nav[class^="privateChannels_"] ul > h2:hover {
  color: var(--color-important-1) !important;
}

/*** 1. Main ***/

/** 1.1 Header **/

/* 1.1.1 Style */

main > section[role="navigation"] svg {
  color: var(--color-submain) !important;
}

main > section[role="navigation"] div[class^="tabBar_"] > div {
  color: var(--color-important-2);
}

main
  > section[role="navigation"]
  div[class^="tabBar_"]
  > div[class*="selected_"] {
  background-color: var(--color-bg-hover) !important;
}

/* Dividers */
main > section[role="navigation"] div[class^="divider_"] {
  background-color: var(--color-submain) !important;
}

main > section[role="navigation"] div[class^="children_"]::after {
  background: none;
}

main > div[class^="tabBody_"]::before {
  box-shadow: var(--box-shadow-header);
}

/* 1.1.2 Hover & Select */

main
  > section[role="navigation"]
  div[class^="tabBar_"]
  > div:not([class*="addFriend_"]):hover {
  color: var(--color-important-1);
  background-color: var(--color-bg-hover) !important;
}

main > section[role="navigation"] svg:hover {
  color: var(--color-text-hover) !important;
}

main > section[role="navigation"] div[class*="addFriend_"]:hover {
  color: var(--color-important-1);
  background-color: var(--color-submain) !important;
}

/** 1.2 Friends **/

/* 1.2.1 Style */

main > div[class^="tabBody_"]::before {
  box-shadow: var(--box-shadow-header);
}

/* Search Bar */
div[class^="peopleColumn_"] > div[class*="searchBar_"] {
  background-color: var(--color-main);
}

div[class^="peopleColumn_"] > div[class*="searchBar_"] input::placeholder,
div[class^="peopleColumn_"] > div[class*="searchBar_"] svg {
  color: var(--color-submain);
}

/* Заголовок */
div[class^="peopleColumn_"] > div[class*="sectionTitle_"] > h2 {
  color: var(--color-submain);
}

/* Scroll Bar */
div[class^="peopleColumn_"]
  > div[class*="peopleList_"]::-webkit-scrollbar-thumb {
  background-color: var(--color-submain);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]::-webkit-scrollbar-track {
  background-color: var(--color-main);
}

/* Список людей в сети */
div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class*="peopleListItem_"] {
  border-color: var(--color-main);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class*="info_"]
  > span[class^="username_"] {
  color: var(--color-submain);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class*="info_"]
  > span[class*="discriminator_"] {
  color: var(--color-main);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class^="userInfo_"]
  div[class^="text_"] {
  color: var(--color-important-2);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class^="userInfo_"]
  div[class^="text_"]
  :is(strong, svg) {
  color: var(--color-submain);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class^="actions_"]
  > div {
  color: var(--color-submain);
  background-color: var(--color-main);
}

/* 1.2.2 Hover & Select */

/* Список людей в сети */
div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class^="peopleListItem_"]:hover {
  background-color: var(--color-bg-hover);
}

div[class^="peopleColumn_"]
  > div[class*="peopleList_"]
  div[class^="actions_"]
  > div:hover {
  color: var(--color-text-hover);
  background-color: var(--color-submain);
}
